#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/mysql_error.log

# By default we only accept connections from localhost
#bind-address	= 127.0.0.1

# Allow connections from anywhere
bind-address	= 0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


# SLOW QUERY LOGGING
log_output=FILE
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=2.000
log-queries-not-using-indexes=0


# MAKE SEPARATE FILES PER TABLE
innodb_file_per_table=1