# The MySQL  Server configuration file.
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql_error.log

# Per REDCap Recommendations
max_allowed_packet=128M

# If you have a larger development database, you may want to increase this value:
# Default is 128MB (134217728) - I'm upping it to 512MB
innodb_buffer_pool_size=536870912

# 2x default
# sort_buffer_size=524288
sort_buffer_size=1024K

# Default
#read_rnd_buffer_size=262144
read_rnd_buffer_size=1024K

# By default we only accept connections from localhost but we want to allow connections from anywhere!
#bind-address	= 127.0.0.1
bind-address	= 0.0.0.0

# MAKE SEPARATE FILES PER TABLE
innodb_file_per_table=1


# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# SLOW QUERY LOGGING
log_output=FILE
slow_query_log=1
slow_query_log_file=/var/log/mysql_slow.log
long_query_time=2.000
log-queries-not-using-indexes=0

# Enable mysql_native_password plugin (Required in versions > 8.0)
# See https://php.watch/articles/fix-php-mysql-84-mysql_native_password-not-loaded
mysql_native_password=ON