# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/mysql_error.log

# If you have a larger development database, you may want to increase this value:
# Default is 128MB (134217728) - I'm upping it to 512MB
innodb_buffer_pool_size=536870912

# Set the server default timezone
default-time-zone='America/Los_Angeles';
#+00:00'

# By default we only accept connections from localhost but we want to allow connections from anywhere!
#bind-address	= 127.0.0.1
bind-address	= 0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# For mysql8, we can use native password for now until php is updated to support sha2 passwords
#default_authentication_plugin=caching_sha2_password
default_authentication_plugin=mysql_native_password

# SLOW QUERY LOGGING
log_output=FILE
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=2.000
log-queries-not-using-indexes=0

# MAKE SEPARATE FILES PER TABLE
innodb_file_per_table=1