### THIS IS THE SHARED ENV FOR ALL CONTAINERS ###

# THIS PREFIX IS ADDED TO THE DOCKER VOLUMES, NETWORKS, AND CONTAINERS CREATED DURING THE BUILD.
# IF YOU EVER WANTED TO RUN MULTIPLE INSTANCES OF THIS DOCKER-COMPOSE ON THE SAME SERVER, IT IS A GOOD IDEA TO
# CHANGE THE VALUE OF THIS PARAMETER FOR EACH INSTANCE TO PREVENT THE ACCIDENTAL COLLISION OF RESOURCES
# (e.g. DEV1 or DEV2)
DOCKER_PREFIX=redcap

# TIMEZONE IS USED FOR BOTH CRON, PHP, AND MYSQL
# https://www.php.net/manual/en/timezones.php
TZ=America/Los_Angeles

## MAC USERS: IF YOU ARE A MAC USER, RUN THE 'id -u' COMMAND FROM THE TERMINAL TO GET YOUR
# USER ID - TYPICALLY 501 or 502.
APACHE_RUN_USER_ID=501

# YOU LIKELY WANT TO HAVE YOUR SERVERS LOG FILES AVAILABLE AS WELL SO I RECOMMEND MOUNTING THIS TO A LOCATION
# ON YOUR COMPUTER.  THE DEFAULT IS INSIDE OF THE VOLUMES FOLDER HERE:
# ALTERNATELY YOU CAN HAVE THEM PRESERVED IN A NON-MOUNTED DOCKER VOLUME BY USING logs-volume
# LOGS_DIR=logs-volume
LOGS_DIR=../logs

# THIS IS WHERE YOUR WEBROOT IS LOCATED.  CAN PLACE REDCAP IN THE PRESET 'web' FOLDER OR YOU
# CAN MOVE IT TO A DIFFERENT LOCATION ON YOUR COMPUTER, SUCH AS:
# WEBROOT_DIR=/Users/andy123/Desktop/redcap-local
WEBROOT_DIR=../www

# THIS IS WHERE YOUR CREDENTIALS ARE LOCATED (for outside APIs). SHOULD BE OUTSIDE WEBROOT
# CAN MOVE IT TO A DIFFERENT LOCATION ON YOUR COMPUTER, SUCH AS:
# WEBROOT_DIR=/Users/andy123/Desktop/credentials
CREDENTIALS_DIR=../credentials

# WILL REDCAP RUN AS THE DEFAULT WEB APP ON YOUR INSTANCE?  (e.g. 'http://localhost' vs. 'http://localhost/redcap')
# TO HAVE REDCAP RUN AS THE DEFAULT APP (e.g. http://localhost) USE "/"
# TO HAVE REDCAP RUN UNDER A FOLDER (e.g http://localhost/redcap/) USE "/redcap/"
# ANY PATH YOU USE SHOULD START AND END WITH A SLASH /
REDCAP_WEBROOT_PATH=/

### APACHE (WEB) ###
# THIS SHOULD BE THE NAME YOU ARE USING IN YOUR BROWSER TO ACCESS THIS HOST
# In some cases localhost may not work and you might want to try 127.0.0.1
SERVER_NAME=localhost
SERVER_ADMIN=root@localhost

# THIS IS THE PORT ON YOUR COMPUTER WHERE YOU WILL ACCESS THE WEB SERVER.
# THE DEFAULT IS PORT 80 SO http://localhost SHOULD WORK.  IF YOU HAVE A
# CONFLICT WITH THIS PORT, YOU CAN CHANGE IT AND THEN USE SOMETHING LIKE
# http://localhost:8080 INSTEAD
WEB_PORT=80

# THIS IS THE FOLDER THAT HAS ALL OF YOUR WEB OVERRIDE DATA.  YOU CAN MOVE
# IT TO A CUSTOM LOCATION SO YOU COULD BIND TO YOUR OWN PERSONAL GIT REPO
WEB_OVERRIDES=./redcap-overrides/web

# X-DEBUG CONFIGURATION
# THIS IS THE NAME OF THE PHPSTORM/XDEBUG SERVER
# This is set in PHPStorm -> Preference -> Languages & Frameworks -> PHP -> Server
# SEE DOCUMENTATION FOR MORE DETAILS ON XDEBUG SETUP AND CONFIGURATION
PHP_IDE_CONFIG=serverName=localhost-xdebug-server
XDEBUG_CONFIG="remote_host=host.docker.internal remote_enable=1 remote_autostart=1 idekey=VSCODE"


### MYSQL (DB) ###

# SALT FOR DATABASE CONFIG
REDCAP_SALT=12345678

# YOU CAN CONNECT TO YOUR DATABASE FROM TOOLS ON YOUR COMPUTER, SUCH AS DATAGRIP OR MYSQL WORKBENCH
# SELECT THE PORT TO CONNECT TO THE DOCKER-COMPOSE DATABASE WITH DESKTOP TOOLS.  NOTE T
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=redcap
MYSQL_USER=redcap
MYSQL_PASSWORD=redcap123

# THIS IS WHERE THE DATABASE FILES WILL GO - IT IS BEST TO LEAVE THEM IN A DOCKER VOLUME (mysql-volume)
# YOU COULD, HOWEVER, MOUNT THEM LOCALLY WITH SOMETHING LIKE THIS:
# MYSQL_DIR=/path/to/my/mysql
# BUT EXPECT PERFORMANCE TO SUFFER
MYSQL_DIR=mysql-volume

# YOU CAN OVERRIDE THE LOCATION OF THE DIRECTORY CONTAINING MYSQL CONFIG FILES (like my.cnf) HERE
MYSQL_OVERRIDES=./redcap-overrides/mysql/config

# YOU CAN OVERRIDE THE LOCATION OF THE DIRECTORY CONTAINING ANY MYSQL SCRIPTS TO BE RUN AT DOCKER CREATION
MYSQL_SCRIPTS=./redcap-overrides/mysql/scripts

# PHPMYADMIN CAN BE USED TO HELP ADMINISTER YOUR DATABASE
PHPMYADMIN_PORT=8080
PMA_ARBITRARY=1
PMA_USER=root
## MAKE SURE THE PASSWORD BELOW MATCHES THE ROOT PASSWORD IN THE MYSQL SECTION
PMA_PASSWORD=root
PMA_HOST=db
PMA_VERBOSE="REDCap Docker-Compose DB"
PMA_ABSOLUTE_URI="http://localhost/phpmyadmin/"

## INCREASE UPLOAD SIZE TO HANDLE LARGER DATABASE IMPORTS
PHPMYADMIN_PHP_OVERRIDES=./redcap-overrides/phpmyadmin/uploads.ini

### MAIL ###
# OUTGOING EMAILS ARE BY DEFAULT SENT TO MAILHOG WHERE THEY WILL BE CAPTURED
# AND YOU CAN VIEW THEM.  THEY WILL NOT BE SENT EXTERNALLY. MAILHOG DEFAULTS
# TO LISTENING FOR SMTP TRAFFIC ON PORT 1025. YOU MUST LEAVE 'SMTP_PORT=1025'
# AND 'SMTP_SMARTHOST=mailhog' IF YOU WANT MAILHOG TO CAPTURE TRAFFIC.
#
# IF YOU WISH TO ACTUALLY SEND EMAILS FROM YOUR TEST INSTANCE, YOU HAVE
# TWO OPTIONS:
# 1) CHANGE THESE SETTINGS TO POINT TO A MAIL RELAY ON YOUR NETWORK
# 2) LEAVE THESE SETTINGS EMPTY (COMMENT OUT) AND ADD A CUSTOM CONFIGURATION IN THE
#    redcap-overrides/msmtp/msmtprc FILE.  USING THIS METHOD YOU COULD SEND EMAILS
#    OUT THROUGH A GMAIL ACCOUNT FOR EXAMPLE.
SMTP_SMARTHOST=mailhog
SMTP_PORT=1025


### MAILHOG CONFIGURATION ###
# MAILHOG CAN PUSH EMAILS OUT AFTER YOU REVIEW THEM - FOR THIS TO WORK YOU MUST
# SET A VALID SMTP RELAY.  THIS RELAY MUST BE CONFIGURED IN JSON AS DEFINED HERE:
# https://github.com/mailhog/MailHog/blob/master/docs/CONFIG.md
# THIS IS THE FOLDER THAT CONTAINS THE outgoing_smtp.json FILE
MAILHOG_OUTGOING_SMTP_FILE=./redcap-overrides/mailhog/outgoing_smtp.json

# THIS IS THE DIRECTORY WHERE EMAILS ARE STORED.  THE DEFUALT IS TO USE AN INTERNAL DOCKER
# VOLUME (mailhog-volume)- YOU COULD CUSTOMIZE TO A LOCAL DIRECTORY IF YOU LIKE
MAILHOG_DIR=mailhog-volume

# Select the port at which you can access MailHog's web interface.
# MAILHOG_PORT will be used to expose Mailhog to the host.
MAILHOG_PORT=8025

### ADVANCED APACHE CONFIGURATION ###
# BY DEFAULT, YOU WILL RUN IN THE DEFAULT VHOST.  YOU CAN ADD APACHE CONFIGURATION DIRECTIVES TO
# THIS VHOST BY OVERRIDING THIS FILE:
#    redcap-overrides/web/apache2/sites-enabled/default.virtualhost

# THIS IMAGE ALSO SUPPORTS MULTIPLE NAMED VHOSTS - SO YOU COULD GET FANCY.
# IF SO, YOU MAY WANT TO REPLACE THE DEFULAT VHOST.  TO DO THIS, ADD YOUR NEW VHOST FILE(S) INTO THE
#    redcap-overrides/web/apache2/sites-enabled/
# FOLDER AND THEN TURN OFF THE DEFAULT BY UNCOMMENTING THE LINE BELOW:
#REMOVE_DEFAULT_VHOST=true

## ENABLE GITSUBREPO
# Gitsubrepo https://github.com/ingydotnet/git-subrepo is a script that enables the easy embedding of multiple
# child git repos into a parent repo.  Similar to git sub-module but a little easier to work with.
# use a 1 or 0 to turn off/on the gitsubrepo component
ENABLE_GITSUBREPO=0
